In [2]:
import pandas as pd

In [5]:
file = "vine_table.csv"
vine_df = pd.read_csv(file)
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R8EWA1OFT84NX,5,0,0,N,Y
1,R2JWY4YRQD4FOP,5,0,0,N,N
2,RL5ESX231LZ0B,5,0,0,N,Y
3,RRMS9ZWJ2KD08,5,0,0,N,Y
4,R14I3ZG5E6S7YM,5,0,0,N,Y

In [9]:
# retrieve all the rows where the total_votes count is equal to or greater than 20
total_votes_20 = vine_df.loc[vine_df["total_votes"] >=20]
total_votes_20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
591,ROI00QN8IS49I,5,83,91,N,N
1122,R13C5INE1RTZP6,2,26,26,N,Y
1311,RXVMMXCL67MZN,4,378,383,N,Y
1837,R33JJQWAUYBKD3,5,270,280,N,Y
1954,R3N0XV9267NOXV,5,41,47,Y,N
...,...,...,...,...,...,...
1752918,RYN307NME6KX0,5,22,22,N,N
1752919,R1TOGWW745RP5X,5,109,110,N,N
1752922,RWZESJ0UGDQDG,4,34,34,N,N
1752925,RTEMVUI94ORI0,5,19,20,N,N
1752929,R35M9WTWVWMLX9,5,27,27,N,N

In [11]:
# retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
helpful_votes = total_votes_20.loc[total_votes_20['helpful_votes']/total_votes_20['total_votes'] >= 0.5]
helpful_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
591,ROI00QN8IS49I,5,83,91,N,N
1122,R13C5INE1RTZP6,2,26,26,N,Y
1311,RXVMMXCL67MZN,4,378,383,N,Y
1837,R33JJQWAUYBKD3,5,270,280,N,Y
1954,R3N0XV9267NOXV,5,41,47,Y,N
...,...,...,...,...,...,...
1752918,RYN307NME6KX0,5,22,22,N,N
1752919,R1TOGWW745RP5X,5,109,110,N,N
1752922,RWZESJ0UGDQDG,4,34,34,N,N
1752925,RTEMVUI94ORI0,5,19,20,N,N
1752929,R35M9WTWVWMLX9,5,27,27,N,N

In [13]:
# retrieves all the rows where a review was written as part of the Vine program (paid)
vine_paid = helpful_votes.loc[helpful_votes["vine"] == "Y"]
vine_paid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1954,R3N0XV9267NOXV,5,41,47,Y,N
5736,RSA6JQ346JZHZ,5,55,64,Y,Y
7385,R1FXF4HRMCLG4C,5,69,84,Y,N
7883,RCTBWC3II42MG,4,113,117,Y,N
24464,RTMQM2CQ1XIZ0,5,21,25,Y,N
...,...,...,...,...,...,...
1636787,RFFBMMET74TBB,5,27,30,Y,N
1637905,R19G60JWE86BRS,3,31,35,Y,N
1638433,R36L3YS2VNQUAB,4,163,175,Y,N
1639054,R1PSNB760HL99L,3,205,216,Y,N
1640162,R2W7EXQ1IVMI4D,4,46,54,Y,N

In [14]:
vine_unpaid = helpful_votes.loc[helpful_votes["vine"] == "N"]
vine_unpaid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
591,ROI00QN8IS49I,5,83,91,N,N
1122,R13C5INE1RTZP6,2,26,26,N,Y
1311,RXVMMXCL67MZN,4,378,383,N,Y
1837,R33JJQWAUYBKD3,5,270,280,N,Y
2056,R31HQD6YXSQV1W,3,40,48,N,Y
...,...,...,...,...,...,...
1752918,RYN307NME6KX0,5,22,22,N,N
1752919,R1TOGWW745RP5X,5,109,110,N,N
1752922,RWZESJ0UGDQDG,4,34,34,N,N
1752925,RTEMVUI94ORI0,5,19,20,N,N
1752929,R35M9WTWVWMLX9,5,27,27,N,N

In [30]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).
total_votes_paid = vine_paid['total_votes'].sum()
total_votes_unpaid = vine_unpaid['total_votes'].sum()

votes_5_star_paid = vine_paid.loc[vine_paid['star_rating'] == 5].sum()['total_votes']
votes_5_star_unpaid = vine_unpaid.loc[vine_unpaid['star_rating'] == 5].sum()['total_votes']

percentage_votes_paid = round(votes_5_star_paid/total_votes_paid * 100, 2)
percentage_votes_unpaid = round(votes_5_star_unpaid/total_votes_unpaid * 100, 2)

In [41]:
summary = pd.DataFrame([{
    "total votes": total_votes_paid,
    "5-star reviews": votes_5_star_paid,
    "% 5-star reviews": percentage_votes_paid
},{
    "total votes": total_votes_unpaid,
    "5-star reviews": votes_5_star_unpaid,
    "% 5-star reviews": percentage_votes_unpaid
}
],["Vine", "non-Vine"])
summary

          total votes  5-star reviews  % 5-star reviews
Vine            33882           17027             50.25
non-Vine      1598547          808956             50.61

In [42]:
# Format columns
summary["total votes"] = summary["total votes"].map("{:,}".format)
summary["5-star reviews"] = summary["5-star reviews"].map("{:,}".format)
summary

         total votes 5-star reviews  % 5-star reviews
Vine          33,882         17,027             50.25
non-Vine   1,598,547        808,956             50.61